body{
	margin: 0px;
	padding: 0px;
}

.boton{
	font-family: Segoe UI;
	font-weight: bold;

    text-decoration: none;
    padding: 7px 5% 7px 5%;
    font-size: 12px;
    color: #00A5F3;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #00A5F3;
}
.boton:hover{
	background-color: #EAF5FD;
}

.boton1{
	font-family: Segoe UI;
	font-weight: bold;

    text-decoration: none;
    padding: 7px 30% 7px 30%;
    font-size: 15px;
    color: white;
    background-color: #1B95E0;
    border-radius: 50px;
    border: 1px solid #1B95E0;
}
.boton1:hover{
	background-color: #006DBF;
	border: 1px solid #006DBF;
}

.boton2{
	font-family: Segoe UI;
	font-weight: bold;

    text-decoration: none;
    padding: 7px 30% 7px 30%;
    font-size: 15px;
    color: #00A5F3;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #00A5F3;
}
.boton2:hover{
	background-color: #EAF5FD;
}


.f1{
	font-size: 30px;
	font-family: Segoe UI;
	font-weight: bold;
}

.f2{
	font-size: 20px;
	font-family: Segoe UI;
	font-weight: bold;
}

#izquierda i{
	color: white;
}

#derecha i{
	color: #00A5F3;
	padding-right: 200px;
}

#boton{
	color: #00A5F3;
	background-color: white;
}

#izquierda p{
	display: inline;
	color: white;
	margin-left: 20px;

	font-size: 20px;
	font-family: Segoe UI;
	font-weight: bold;
}

#izquierda{
	float: left;
	background: url(../img/twitter.png) no-repeat center;
	background-size: 150%;
	background-position: left;
	background-color: #00A5F3;
	width: 40%;

	padding-top: 15%;
    padding-right: 5%;
    padding-bottom: 15%;
    padding-left: 5%;
}

#izquierda p{
	display: inline;

	margin-left: 20px;
}
#derecha{
	float: right;
	background-color: white;
	width: 30%;

	padding-top: 7%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}

footer{
	float: left;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

footer a{
	text-decoration: none;
	color: #797979;
	margin-right: 10px;
	margin-left: 10px;
	justify-content: center;
	text-align: center;
}

footer a:hover{
	text-decoration: underline;
}
